.sections {
    display: flex;
    flex-direction: column;
    gap: 100px;

    margin: 2rem 5rem;
    padding-bottom: 5rem;

    &-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        img {
            width: 70%;
        }
    }

    .about-me {
        display: flex;
        flex-direction: row;
        align-items: end;
        gap: 20px;

        &-left, &-right {
            display: flex;
            flex-direction: column;
            flex: 50%;
            gap: 10px;

            img {
                width: 100%;
                border-radius: 25px;
            }

            h2 {
                font-weight: 500;
                font-size: 24px;
                line-height: 32px;
                letter-spacing: 1%;
                margin: 0;
            }

            p {
                font-weight: 300;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 1%;
                width: 80%;
            }
        }
    }

    .mid-section {
        display: flex;
        justify-content: center;
        align-items: center;
        
        h3 {
            width: 60%;
            text-align: center;

            font-weight: 500;
            font-size: 38px;
            line-height: 40px;
            letter-spacing: 0%;
            text-align: center;
        }

        h4 {
            width: 70%;
            text-align: center;

            font-weight: 400;
            font-size: 24px;
            line-height: 29.26px;
            letter-spacing: 0%;
            text-align: center;
            margin: 0;
        }
    }

    .text-and-photos {
        display: flex;
        flex-direction: column;
        
        .text {
            width: 40%;

            h4 {
                font-weight: 500;
                font-size: 24px;
                line-height: 32px;
                letter-spacing: 1%;
                margin: 0;
            }

            p {
                font-weight: 300;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 1%;
            }
        }

        .photos {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 20px;

            img {
                width: 100%;
                border-radius: 25px;
            }

            &-many img {
                width: 50%;
            }
        }
    }
}

@media screen and (min-width: 1400px) {
    .sections {
        margin: 2rem 7rem;
    }
}

@media screen and (max-width: 800px) {
    .sections {
        margin: 2rem 1.5rem;
    }
}