.musicbox {
  position: fixed;
  z-index: 9999;
  bottom: -100%;
  right: 0;
  //   top: calc(var(--navbar-height) + 10px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;

  width: min(25em, 80vw);

  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 16px #cccccc81;
  border-radius: 20px;

  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  margin: 1em;
  padding: 1em 1.5em;

  transition: bottom 0.3s ease-in-out;

  &.active {
    bottom: 0;
  }

  h3 {
    margin: 0;
    padding-bottom: 0.5em;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }
}

.track-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;

  width: 100%;
}

.track-image {
  width: 100%;
  max-width: 100px;
  height: 100px;
  border-radius: 15px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.track-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  width: 100%;
  margin: 0 10px;

  p,
  h4 {
    margin: 0;
    padding: 0;
    text-align: left;
  }

  p {
    color: #ccc;
    font-size: 0.75em;
  }
}

.close {
  background-color: transparent;
  border: none;
  color: white;

  cursor: pointer;
}

.close span {
  font-size: 1.5em;
}

@media (max-width: 800px) {
  .track-image {
    max-width: 80px;
    height: 80px;
  }

  .track-details {
    font-size: 0.8em;
  }
}
