.sections {
    display: flex;
    flex-direction: column;
    gap: 80px;

    &-margined {
        display: flex;
        flex-direction: column;
        gap: 80px;

        margin: 0 5rem;
    }
}

@media screen and (min-width: 1400px) {
    .sections-margined {
        margin: 0 7rem;
    }
}

@media screen and (max-width: 800px) {
    .sections-margined {
        margin: 0 1.5rem;
    }
}