.gradient {
    border-radius: 50%;
    pointer-events: none;

    &_holder {
        position: absolute;
        left: 0;
        top: 0;
        width: 100lvw;
        height: 2000px;
        overflow-x: hidden;
        pointer-events: none;
    }

    &_one {
        background: radial-gradient(circle, #3a72ff40, #3a72ff05, #00000000);
        width: 2000px;
        height: 2000px;

        position: absolute;
        right: 0;
        top: 0;
        transform: translate(54%, -30%);
    }

    &_two {
        background: radial-gradient(circle, #ff933a40, #FF933a05, #00000000);
        width: 3000px;
        height: 3000px;

        position: absolute;
        left: 0;
        top: 0;
        transform: translate(-60%, -25%);
    }

    &_three {
        background: radial-gradient(circle, #3a72ff30, #3a72ff05, #00000000);
        width: 1500px;
        height: 1500px;

        position: absolute;
        left: 0;
        top: 0;
        transform: translate(-54%, 55%);
    }
}

@media screen and (min-width: 1400px) {
    .gradient {
        &_holder {
            height: 3000px;
        }

        &_one {
            width: 2000px;
            height: 2000px;
            transform: translate(55%, -30%);
        }

        &_two {
            width: 3000px;
            height: 3000px;
            transform: translate(-55%, -15%);
        }

        &_three {
            width: 1500px;
            height: 1500px;
            transform: translate(-54%, 100%);
        }
    }
}

@media screen and (max-width: 800px) {
    .gradient {
        &_holder {
            height: 3000px;
        }

        &_one {
            width: 1000px;
            height: 1000px;
            transform: translate(64%, -30%);
        }

        &_two {
            width: 1500px;
            height: 1500px;
            transform: translate(-60%, -10%);
        }
    }
    
}