.App-Temporary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 90vh;

    padding: 5vh 0;

    a > .round-image {
        width: 25vw;
        height: 25vw;
        border-radius: 50%;
        object-fit: cover;

        cursor: pointer;
        &:hover {
            transform: scale(1.01) translateY(-6px);
        }

        transition-duration: 0.25s;
    }

    h1 {
        font-size: 3vw;
        
        span {
            color: #3776A1;
        }
    }
}



