:root {
  --color-bg: #000000;
  --color-text: #ffffff;
  --color-accent: #f86830;

  --navbar-height: 5em;
  --footer-height: 8em;
  --content-min-height: calc(
    100svh - var(--footer-height) - var(--navbar-height)
  );
}

body {
  font-family: "Inter", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg);
  color: var(--color-text);
  overflow-x: hidden;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
