/* These are truly global styles that can apply everywhere */
body {
  font-family: "Inter", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0; /* Always a good reset */
  overflow-x: hidden; /* Good for preventing horizontal scroll issues */
}

/* You might want a universal box-sizing rule */
*,
*::before,
*::after {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}