.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100svh - 116px);

    picture img {
        width: 800px;
        height: auto;
        border-radius: 5%;
    }

    &_desc {
        translate: 0 -80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img.musician {
            width: 90%;
        }

        p {
            cursor: default;
            text-align: center;
            width: 80%;
            font-size: 18px;
            font-weight: 300;
            line-height: 20px;
            letter-spacing: 1%;
            padding-bottom: 20px;
            color: #FFFFFFCC;
        }

        &_links {
            display: flex;
            gap: 10px;

            &_link {
                transition-duration: 0.25s;
                &:hover {
                    transform: scale(1.05) translateY(-4px);
                    transition-duration: 0.25s;
                }
                svg {
                    width: 36px;
                    height: 36px;
                }
            }
        }
    }
}

@media screen and (max-width: 1400px) {
    .header {
        height: calc(100svh - 80px);

        picture img {
            width: 500px;
        }

        &_desc {
            translate: 0 -80px;

            h1 {
                cursor: default;
                font-size: 80px;
                margin: 0;
            }

            p {
                padding-bottom: 5px;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .header {
        height: calc(100svh - 80px);

        &_desc {
            translate: 0 -80px;

            h1 {
                cursor: default;
                font-size: 60px;
                margin: 0;
            }

            p {
                width: 100%;
                font-size: 16px;
            }
        }
    }
}