.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.uploadForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;

  form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 2em;
    flex-wrap: wrap;

    width: 100%;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      max-width: 30em;
      gap: 0.2em;

      input,
      textarea {
        width: 100%;
        min-height: 2em;
        padding: 0.5em;
      }

      textarea {
        height: 5em;
      }
    }
  }
}

#image {
  width: 100%;
}
