.video-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    position: relative;
    width: 20lvw;
    height: max-content;
    overflow: hidden;
    cursor: pointer;
  
    video {
      width: 100%;
      height: 30lvw;
      object-fit: cover;

      &:fullscreen {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
  
    &:hover .custom-controls {
      opacity: 1;
    }

    .text-holder {
      display: flex;
      flex-direction: column;
    }
  
    &-subtext {
        cursor: default;
        color: #ffffffCC;
        text-align: center;
        font-size: 14px;
    }
}

@media screen and (max-width: 800px) {
    .video-container {
        position: relative;
        width: 30lvw;

        video {
          width: 100%;
          height: 50lvw;
        }

        .text-holder {
          display: none;
        }
    }
}